spring:
  application:
    name: APIGateway

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: quiz-service
              uri: lb://QUIZSERVICE
              predicates:
                - Path=/quiz/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8070
